<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TurismoMDZ</title>
<link rel="stylesheet" href="{{ url_for('static', filename='estilop.css') }}">

</head>
<body>
    <header class="header">
        <div class="menu container">
        
            <a href="{{ url_for('index') }}" id="LogoLink">
           <img id="LogoImagen" src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo">
                </a>
            <img id="Logoletras" src="{{ url_for('static', filename='img/Logoletras.svg') }}" alt="Logoletras">

            <nav class="navbar">
                <ul>
                    <li><a href="{{ url_for('index') }}">Principal</a></li>
                    <li><a href="{{ url_for('tierra') }}">Tierra</a></li>
                    <li><a href="{{ url_for('agua') }}">Agua</a></li>
                    <li><a href="{{ url_for('aire') }}">Aire</a></li>
                    <li><a href="{{ url_for('reservas') }}">Reservas</a></li>
                    <li><a href="{{ url_for('login') }}"><button>Iniciar sesión</button></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section>
        <h1>Sobre Nosotros</h1>
        <img src="logo.png" alt="Equipo de TurismoMDZ en acción">
        <h2>Nuestra Historia</h2>
        <p>TurismoMDZ nació con la misión de ofrecer experiencias inolvidables en Mendoza. Desde recorridos por los viñedos hasta aventuras en la montaña, nuestra pasión es brindarte lo mejor del turismo mendocino.</p>

        <h2>Nuestro Compromiso</h2>
        <p>Garantizamos seguridad, calidad y atención personalizada en cada viaje. Nuestro equipo de profesionales está listo para hacer de tu visita una experiencia única.</p>

        <h2>Contáctanos</h2>
        <p> Mendoza, Argentina</p>
        <p> contacto@turismomdz.com</p>
        <p> +54 9 261 123-4567</p>
    </section>
</body>
</html>